* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Arial', sans-serif;
  height: 100%;
  overflow-x: hidden;
}

/* Parallax effect for the background */
.parallax-background {
  position: relative;
  background: url('https://upload-os-bbs.hoyolab.com/upload/2024/03/17/17138284/ef57c2aaed026fd3275d6c5a06f92e91_6834928378747980045.png?x-oss-process=image%2Fresize%2Cs_1000%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp%2Fquality%2Cq_70') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

/* Adjust second parallax image */
.second-image {
  background: url('https://steamuserimages-a.akamaihd.net/ugc/2514774704643006729/1A8BDC342E968554C7CCF8624E33CB5527C9316E/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false') no-repeat center center fixed;
  background-size: cover;
}

/* Center the text */
.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.message p {
  font-size: 1.5rem;
}

/* Black block */
.black-block {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}